.main {
  font-family: system-ui, sans-serif;
  display: flex;
  background-color: #ff9a98;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1em;
  padding: 1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
